extends layout

block content
  link(rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon")

  h1=title

  form(method='POST' action='')
    div.form-group
      label(for="email") Email: 
      input#email.form-control(type="email" placeholder="email" name="email" required="true" value=(undefined===users ? "" : users.email) ) 
      label(for="password") Password: 
      input#password.form-control(type="password" placeholder="Enter password" name="password" required="true" value=(undefined===users ? "" : users.password)) 
      p Don't have an account?  
      a(href="/user/signUp") SignUp
    button.btn.btn-primary(type='submit') LogIn
  if errors
    ul
      for error in errors
        li!= error.msg